
extends layout

block content
  .container
    .row
      .col-md-12
        h1.text-center Hello, Welcome to MyApp!
        p.text-center This is the home page of your application.
        .text-center
          a.btn.btn-primary(href='/register') Register